h2 {
      line-height:1.1;
}
.hero-slider {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
.slider-tag{
  display: block;
  color: white;
  font-family: 'proxima-nova', serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 182px;
  padding: 2px 0;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 0 solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-size: 30px;
  color: #fff;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-size: 30px;
  color: #fff;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

/* @media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
/*     display: none;
  }
}  */
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;

}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height: 600px;
  transition:all .4s ease;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style{
    height: 600px;
  }
}

@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 0;
  }
}

.hero-style .slide-title{
  font-family: 'URWDINCond-Demi', serif;
  max-width: 350px;
  background: rgb(255 255 255 / 0%);
  padding: 20px 0;
  text-transform: uppercase;
}

.hero-style .slide-title h2 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  transition:all .4s ease;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 14px;
    margin: 0 0 2px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 22px;
    margin: 0;
  }
}

.hero-style .slide-text p {
  font-family: 'proxima-nova', serif;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 10px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-family: 'proxima-nova', serif;
    font-size: 20px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-description p {
  font-family: 'URWDINCond-Demi', serif;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  margin: 0 0 10px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .hero-style .slide-description p {
    font-family: 'URWDINCond-Demi', serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: transparent;
    font-size: 13px;
    text-align: center;
    color: white;
    padding: 9px 18px;
    border: 0; 
    border-radius: 0;
    display: inline-block;
    line-height: initial;
    transition:all .4s ease;
}
a {
    text-decoration: none;
    /* transition: all 0.2s ease; */
}
.theme-btn-s2{
    background-color: transparent;
    color: #fff;
    margin-top: 30px;
    font-weight: 500;
    font-family: 'proxima-nova', sans-serif;
    border: solid #fff 1px;
    text-transform: uppercase;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color: white ;
    color: #302841;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }

  .hero-style {
      height: 440px;
  }
  
}
@media only screen and (max-width: 425px) {

  .hero-slider .slide-inner{
    height: 75%;
  }
  .hero-style .slide-text p{
    font-size: 28px;
  }
  .hero-style .slide-description p{
    font-size: 18px;
    margin: 0;
  }

}


