@import "font.css";
/* Funções */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
h1 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  text-align: justify;
  font-size: 16px;
}
ul {
  list-style: none;
  margin: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
a:hover,
a:focus {
  text-decoration: none;
}
textarea {
  resize: none;
}
.text-main {
  color: #cd1827;
}
.panel.panel-main {
  box-shadow: none;
}
.panel.panel-main.panel-cart hr {
  margin: 10px 0;
}
.panel.panel-main .panel-heading {
  background: #cd1827;
  color: #ffffff;
}
.panel.panel-main .panel-body {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.panel.panel-form {
  border-color: #dddddd;
  margin: 55px 0;
}
.panel.panel-form .panel-heading {
  background: #cd1827;
  color: #ffffff;
}
.panel.panel-form .panel-body {
  background: #fafafa;
  border-radius: 4px;
}
.panel-content {
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.panel.panel-produto {
  box-shadow: none;
}
.panel.panel-produto.panel-cart hr {
  margin: 10px 0;
}
.panel.panel-produto .panel-heading {
  background: #cd1827;
  color: #ffffff;
}
.panel.panel-produto .panel-body {
  border: none;
}
.panel.panel-produto .panel-body .text-left,
.panel.panel-produto .panel-body .text-right {
  margin: 5px 0;
  text-align: center;
}
.panel.panel-form {
  border-color: #dddddd;
  margin: 55px 0;
}
.panel.panel-form .panel-heading {
  background: #cd1827;
  color: #ffffff;
}
.panel.panel-form .panel-body {
  background: #fafafa;
  border-radius: 4px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  outline-offset: 0;
}
.btn {
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
.btn:hover,
.btn:focus,
.btn:focus-visible {
  color: #ffffff;
  outline: none;
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 0;
}
.btn.btn-default {
  color: #000;
}
.btn.btn-blue {
  background-color: #072F57;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus {
  background-color: #031528;
}
.btn.btn-trans {
  border: solid 1px #fff;
  background: transparent;
  border-radius: 0;
  padding: 6px 15px;
}
.btn.btn-trans:hover {
  background: #ffffff;
  color: #000;
}
.btn.btn-send {
  color: #ffffff;
  background-color: #072F57;
  border-color: #558dd9;
}
.btn.btn-send:hover,
.btn.btn-send:focus {
  border-color: #3c74c0;
  background-color: #031528;
}
.btn.btn-red {
  background-color: #E10000;
  font-size: 16px;
}
.btn.btn-red:hover,
.btn.btn-red:focus {
  background-color: #ae0000;
}
.btn.btn-green {
  background-color: #1aa38b;
}
.btn.btn-green:hover,
.btn.btn-green:focus {
  background-color: #137765;
}
.btn.btn-wpp {
  background-color: #25D366;
}
.btn.btn-wpp:hover,
.btn.btn-wpp:focus {
  background-color: #1da851;
}
.btn.btn-cookie {
  background: #009af7;
}
.btn.btn-cookie:hover {
  background-color: #81cfff;
}
.btn.btn-cookie-orange {
  background: #ff4e00;
}
.btn.btn-cookie-orange:hover {
  background-color: #cc3e00;
}
.btn.btn-darkBlue {
  background-color: #302841;
}
.btn.btn-darkBlue:hover,
.btn.btn-darkBlue:focus {
  background-color: #13151e;
}
.btn.btn-darkRed {
  background-color: #E10000;
}
.btn.btn-darkRed:hover,
.btn.btn-darkRed:focus {
  background-color: #ae0000;
}
.btn.btn-darkGray {
  background-color: #D9D5E2;
}
.btn.btn-darkGray:hover,
.btn.btn-darkGray:focus {
  background-color: #beb7cd;
}
.btn.btn-outGray {
  background-color: #F9F7FC;
}
.btn.btn-outGray:hover,
.btn.btn-outGray:focus {
  background-color: #ddd2ee;
}
.btn.btn-outWhite {
  background-color: #EAEAEA;
}
.btn.btn-outWhite:hover,
.btn.btn-outWhite:focus {
  background-color: #d1d1d1;
}
.btn.btn-transparent {
  background-color: transparent;
  border: solid #fff 2px;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:focus {
  background-color: #d1d1d1;
}
.btn-access {
  padding: 10px 15px;
}
input {
  outline: none;
}
.form-control:focus {
  border-color: #ff2c32;
  box-shadow: none;
}
form .col-lg-1,
form .col-lg-10,
form .col-lg-11,
form .col-lg-12,
form .col-lg-2,
form .col-lg-3,
form .col-lg-4,
form .col-lg-5,
form .col-lg-6,
form .col-lg-7,
form .col-lg-8,
form .col-lg-9,
form .col-md-1,
form .col-md-10,
form .col-md-11,
form .col-md-12,
form .col-md-2,
form .col-md-3,
form .col-md-4,
form .col-md-5,
form .col-md-6,
form .col-md-7,
form .col-md-8,
form .col-md-9,
form .col-sm-1,
form .col-sm-10,
form .col-sm-11,
form .col-sm-12,
form .col-sm-2,
form .col-sm-3,
form .col-sm-4,
form .col-sm-5,
form .col-sm-6,
form .col-sm-7,
form .col-sm-8,
form .col-sm-9,
form .col-xs-1,
form .col-xs-10,
form .col-xs-11,
form .col-xs-12,
form .col-xs-2,
form .col-xs-3,
form .col-xs-4,
form .col-xs-5,
form .col-xs-6,
form .col-xs-7,
form .col-xs-8,
form .col-xs-9 {
  margin-bottom: 15px;
}
@font-face {
  font-family: 'Franklin Gothic Medium Cond';
  font-style: normal;
  font-weight: normal;
  src: local('../font/Franklin Gothic Medium Cond'), url('../font/Franklin Gothic Medium Cond Regular.woff') format('woff');
}
@font-face {
  font-family: 'swis721_ltcn_btlight';
  src: url('../font/swisscl-webfont.eot');
  src: url('../font/swisscl-webfont.eot?#iefix') format('embedded-opentype'), url('../font/swisscl-webfont.woff2') format('woff2'), url('../font/swisscl-webfont.woff') format('woff'), url('../font/swisscl-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../font/montserrat-bold.ttf');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('../font/montserrat-regular.ttf');
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url('../font/montserrat-semibold.ttf');
}
@font-face {
  font-family: 'montserrat-semibolditalic';
  src: url('../font/montserrat-semibolditalic.ttf');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../font/montserrat-medium.ttf');
}
@font-face {
  font-family: 'montserrat-light';
  src: url('../font/montserrat-regular.ttf');
}
@font-face {
  font-family: 'montserrat-thin';
  src: url('../font/montserrat-regular.ttf');
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proxima-nova-regular.otf');
}
@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../font/proxima-nova-bold.otf');
}
@font-face {
  font-family: 'proxima-nova-ExtraB';
  src: url('../font/proxima-nova-extra-bold.otf');
}
@font-face {
  font-family: 'proxima-nova-medium';
  src: url('../font/proxima-nova-medium.otf');
}
@font-face {
  font-family: 'URWDINCond-Regular';
  src: url('../font/URWDINCond-Regular.otf');
}
@font-face {
  font-family: 'URWDINCond-Demi';
  src: url('../font/URWDINCond-Demi.ttf');
}
@font-face {
  font-family: 'URWDINCond-Bold';
  src: url('../font/URWDINCond-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../font/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto-Thin-Italic';
  src: url('../font/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Medium-Italic';
  src: url('../font/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Light-Italic';
  src: url('../font/Roboto-LightItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../font/Roboto-Italic.ttf');
}
@font-face {
  font-family: 'Roboto-Bold-Italic';
  src: url('../font/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Regular';
  src: url('../font/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Light';
  src: url('../font/RobotoCondensed-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Light-italic';
  src: url('../font/RobotoCondensed-LightItalic.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Italic';
  src: url('../font/RobotoCondensed-Italic.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Bold';
  src: url('../font/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Condensed-Bold-Italic';
  src: url('../font/RobotoCondensed-BoldItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../font/JosefinSans-Bold.ttf');
}
@font-face {
  font-family: 'JosefinSans-BoldItalic';
  src: url('../font/JosefinSans-BoldItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-ExtraLight';
  src: url('../font/JosefinSans-ExtraLight.ttf');
}
@font-face {
  font-family: 'JosefinSans-ExtraLightItalic';
  src: url('../font/JosefinSans-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Italic';
  src: url('../font/JosefinSans-Italic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Light';
  src: url('../font/JosefinSans-Light.ttf');
}
@font-face {
  font-family: 'JosefinSans-LightItalic';
  src: url('../font/JosefinSans-LightItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Medium';
  src: url('../font/JosefinSans-Medium.ttf');
}
@font-face {
  font-family: 'JosefinSans-MediumItalic';
  src: url('../font/JosefinSans-MediumItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../font/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('../font/JosefinSans-SemiBold.ttf');
}
@font-face {
  font-family: 'JosefinSans-SemiBoldItalic.ttf';
  src: url('../font/JosefinSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../font/JosefinSans-Thin.ttf');
}
@font-face {
  font-family: 'JosefinSans-ThinItalic';
  src: url('../font/JosefinSans-ThinItalic.ttf');
}
a {
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
}
a:hover,
a:visited {
  color: #fff;
  text-decoration: underline;
}
.navbar-default,
.navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 10px 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: rgba(51, 51, 51, 0);
  border: none;
  border-top: solid #fdeec2 0px;
  border-bottom: solid #fff 0px;
}
.navbar-default .navbar-brand,
.navbar .navbar-brand {
  float: left;
  height: auto;
  margin-left: 0 !important;
  padding: 10px 0;
}
.navbar-default .navbar-nav > li > a,
.navbar .navbar-nav > li > a {
  color: white;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:hover {
  color: #ff2c32;
  font-weight: 600;
}
.navbar-default .nav > li > a,
.navbar .nav > li > a {
  position: relative;
  display: block;
  line-height: 60px;
}
.navbar-default .navbar-nav > .active > a {
  color: white;
  font-weight: 600;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #ff2c32;
}
.shadow {
  box-shadow: 0px -3px 14px 0px;
}
.content {
  overflow: hidden;
}
.bg-gray {
  background: #edeff1;
}
.bg-blue {
  background: #2a3355;
}
.bg-grayDark {
  background: #505258;
}
.section-padding {
  padding: 80px 0;
}
.section-padding h1 {
  margin-bottom: 40px;
}
.mrgTop-120 {
  margin-top: 120px;
}
.pd-100 {
  padding: 100px 0;
}
.pd-80 {
  padding: 80px 0;
}
.pd-50 {
  padding: 50px 0;
}
.intro {
  padding: 80px 0;
}
.intro .title-home {
  color: #ff2c32;
  text-align: center;
  text-transform: uppercase;
  font-family: 'URWDINCond-Demi', sans-serif;
}
.intro .title-home h1 {
  font-weight: 700;
}
.intro .title-home h1 span {
  display: block;
}
.intro p {
  font-size: 23px;
  text-align: center;
  padding: 40px 120px;
  font-family: 'proxima-nova', sans-serif;
}
.about-us {
  font-family: 'proxima-nova', sans-serif;
}
.about-us .area-about .title-about h1 {
  font-size: 48px;
  font-family: 'URWDINCond-Demi', sans-serif;
  text-transform: uppercase;
  color: #ff2c32;
  margin-bottom: 20px;
}
.about-us .area-about .title-about h1 span {
  display: block;
}
.about-us .area-about .title-about p {
  width: 70%;
  text-align: left;
  font-size: 18px;
  margin-bottom: 25px;
}
.about-us .area-about .aboutValue {
  border-left: solid #ff2c32 2px;
  padding-left: 35px;
}
.about-us .area-about .aboutValue h1 {
  color: #2a3355;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  font-weight: bold;
}
.about-us .area-about .aboutValue p {
  margin-bottom: 25px;
}
.about-us .picture {
  position: absolute;
  top: -40px;
  right: -95px;
}
.about-us .picture img {
  height: 600px;
}
.about-us .mission {
  border-left: solid #ff2c32 2px;
  padding-left: 35px;
  margin-top: 40px;
  padding-right: 40px;
}
.about-us .mission h1 {
  color: #2a3355;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  font-weight: bold;
}
.about-us .vision {
  border-left: solid #ff2c32 2px;
  padding-left: 35px;
  margin-top: 40px;
  padding-right: 180px;
}
.about-us .vision h1 {
  color: #2a3355;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  font-weight: bold;
}
.newContact {
  text-align: center;
}
.newContact .titleForm {
  margin-bottom: 45px;
}
.newContact .titleForm h1,
.newContact .titleForm h2 {
  font-family: 'URWDINCond-Regular', sans-serif;
  color: white;
  font-size: 26px;
}
.newContact .titleForm h1 span,
.newContact .titleForm h2 span {
  display: block;
}
.newContact .pd-line-100 {
  padding: 0 100px;
}
.newContact .whatsapp {
  text-align: center;
}
.newContact .whatsapp li {
  display: inline-block;
  padding: 0 10px;
  line-height: 66px;
}
.newContact .whatsapp li h1 {
  color: white;
  font-size: 18px;
}
.newContact .whatsapp li h1 span {
  color: #00C3A2;
  font-family: 'proxima-nova-bold', sans-serif;
  font-size: 24px;
}
.service-In {
  color: white;
}
.service-In .title {
  text-align: center;
  padding-bottom: 60px;
}
.service-In .title h1 {
  font-family: 'URWDINCond-Demi', sans-serif;
  display: initial;
  padding: 12px 20px;
  border: solid white 2px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 100;
  background: #2a3355;
}
.service-In .title:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid white;
  z-index: 99;
  width: 50%;
  margin: 15px auto;
}
.service-In .servico {
  padding: 0 340px;
}
.service-In .servico .items {
  list-style: none;
}
.service-In .servico .items li {
  display: block;
  padding: 4px 0;
  font-family: 'proxima-nova', sans-serif;
  border-bottom: solid white 1px;
  font-size: 23px;
  text-transform: uppercase;
}
.service-In .servico .items li span {
  display: block;
}
.service-In .servico .items li:last-child {
  border-bottom: none;
}
.qualy {
  background: url('../img/qualy.jpg') center center no-repeat;
  background-size: cover;
  padding: 104px 0;
}
.qualy .description {
  color: #2a3355;
  padding: 0 100px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 26px;
}
.qualy .description strong {
  font-family: 'proxima-nova-bold', sans-serif;
}
.qualy .description span {
  display: block;
  padding: 0 30px;
}
.qualy .description p {
  margin: auto;
  text-align: inherit;
  font-size: inherit;
}
.center-contact {
  display: flex;
}
.center-contact .side-left {
  width: 50%;
  min-height: 400px;
  background: #ff2c32;
}
.center-contact .side-left .content {
  padding: 50px 210px 0;
}
.center-contact .side-left .content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 38px;
  font-family: 'URWDINCond-Regular', sans-serif;
  margin-bottom: 0;
}
.center-contact .side-left .content h1 span {
  font-family: 'URWDINCond-Demi', sans-serif;
  display: block;
}
.center-contact .side-left .content h1 p {
  margin: auto;
  text-align: inherit;
  font-size: inherit;
}
.center-contact .side-left .content h2 {
  color: white;
  text-transform: uppercase;
  font-size: 46px;
  font-family: 'URWDINCond-Bold', sans-serif;
}
.center-contact .side-left .content .areaBotton {
  padding-top: 15px;
}
.center-contact .side-left .content .areaBotton button {
  text-transform: uppercase;
  font-family: 'proxima-nova-medium', sans-serif;
}
.center-contact .side-right {
  width: 50%;
  background: url('../img/contact-home.jpg') 0 center no-repeat;
  background-size: cover;
}
.center-contact .side-rightClient {
  width: 50%;
  background: url('../img/client.jpg') 0 center no-repeat;
  background-size: cover;
}
.client {
  text-align: center;
}
.client h1 {
  text-transform: uppercase;
  font-size: 42px;
  font-family: 'URWDINCond-Demi', sans-serif;
  color: #2a3355;
  margin-bottom: 40px;
}
.client ul {
  list-style: none;
  padding: 20px 0;
}
.client ul li {
  display: inline-block;
  margin: 0 16px;
}
.client ul li img {
  height: 90px;
}
.client .description {
  padding: 40px 140px 0;
  font-size: 24px;
  font-family: 'proxima-nova-regular', sans-serif;
  color: #1d1d1d;
}
.client .item {
  padding-top: 40px;
}
.client .item h1 {
  font-family: 'proxima-nova-bold', sans-serif;
  color: #ff2c32;
  font-size: 32px;
  margin-bottom: 0;
}
.client .item h1 span {
  display: block;
}
.minContact .minBoxLeft {
  padding-left: 120px;
}
.minContact .minBoxRight {
  padding-right: 120px;
}
.minContact .minBoxRight button {
  width: 155px;
}
.minContact h1 {
  color: white;
  font-size: 60px;
  font-family: 'URWDINCond-Demi', sans-serif;
  text-transform: uppercase;
}
.minContact h3 {
  margin-top: 22px;
  color: white;
  font-family: 'proxima-nova-regular', sans-serif;
  font-size: 22px;
  text-align: right;
}
.minContact h3 span {
  display: block;
}
.minContact h3 span b {
  color: #00a58b;
  font-family: 'proxima-nova-ExtraB', sans-serif;
  font-size: 28px;
}
.minContact .content {
  padding-top: 17px;
  padding-right: 48px;
  font-family: 'proxima-nova-regular', sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 0.3px;
}
.minContact .content span {
  display: block;
  text-align: justify;
}
.minContact .initai-talk {
  margin-top: 24px;
  background: url('../img/botao_iniciar_conversa.png') no-repeat center center;
  background-size: contain;
  padding: 40px;
}
.compliance {
  font-family: 'proxima-nova', sans-serif;
  font-size: 18px;
}
.compliance strong {
  font-family: 'URWDINCond-Bold', sans-serif;
  font-size: 24px;
  color: #2a3355;
}
.compliance p {
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
.compliance p:nth-child(2) {
  border-left: solid 2px #ff2c32;
}
.compliance p:nth-child(3) {
  border-left: solid 2px #2a3355;
}
.compliance p:last-child {
  border-left: solid 2px #635E6D;
  margin-bottom: 0;
}
.compliance ul {
  list-style: inherit;
  margin-left: 30px;
  margin-bottom: 20px;
}
.compliance hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 5px solid #fb5358;
}
.compliance .picture {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.archive {
  color: white;
}
.archive .title {
  text-align: center;
  padding-bottom: 80px;
}
.archive .title h1 {
  font-family: 'URWDINCond-Demi', sans-serif;
  display: initial;
  padding: 12px 20px;
  border: solid white 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 100;
  background: #2a3355;
}
.archive .title:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #2a3355;
  z-index: 99;
  width: 50%;
  margin: 15px auto;
}
.archive a .panel,
.archive a .panel-defaul {
  transition: 0.3s;
  border-bottom-right-radius: 0px;
}
.archive a .panel .panel-body,
.archive a .panel-defaul .panel-body {
  background: #fff;
  text-align: center;
  border-bottom-right-radius: 25px;
}
.archive a .panel .panel-body i,
.archive a .panel-defaul .panel-body i {
  color: #E53935;
  font-size: 26px;
}
.archive a .panel .panel-body h1,
.archive a .panel-defaul .panel-body h1 {
  font-family: 'URWDINCond-Demi', sans-serif;
  color: #2a3355;
  font-size: 12px;
  padding-top: 8px;
  text-transform: uppercase;
}
.archive a .panel:hover,
.archive a .panel-defaul:hover {
  transition: 0.3s;
  border-bottom-right-radius: 25px;
}
.sale-blog {
  font-family: 'Poppins', serif;
}
.sale-blog .title h1 {
  font-family: 'Playfair Display', serif;
  color: #A60000;
  font-size: 24px;
  display: grid;
  line-height: 36px;
}
.sale-blog .title h1 span {
  font-family: 'Poppins', serif;
  color: #302841;
  font-size: 36px;
  font-weight: 600;
}
.sale-blog .blog {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
.sale-blog .blog .blogThumb {
  position: relative;
}
.sale-blog .blog .blogThumb img {
  width: 100%;
}
.sale-blog .blog .blogThumb::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 73, 90, 0.82);
  top: 0;
  content: "";
  opacity: 0;
  transition: 0.5s;
}
.sale-blog .blog .date {
  margin-top: 12px;
  font-weight: 600;
  color: #302841;
}
.sale-blog .blog h1 {
  color: #302841;
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0;
  line-height: 32px;
}
.sale-blog .blog p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #302841;
}
.sale-blog .blog:hover h1 {
  color: #E10000;
  font-size: 24px;
  font-weight: 600;
}
.sale-blog .blog:hover .blogThumb:before {
  opacity: 1;
}
.sale-blog .screenHover {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}
.sale-blog .blog:hover .screenHover {
  opacity: 1;
}
.sale-blog .bt-see-more {
  margin-top: 40px;
}
.sale-blog .bt-see-more a button {
  padding: 18px 30px;
  text-transform: uppercase;
  font-size: 15px;
}
.service {
  font-family: 'proxima-nova', sans-serif;
}
.service p {
  padding: 0 210px;
  text-align: center;
  font-size: 25px;
}
.service p:nth-child(2) {
  margin-bottom: 40px;
}
.service hr {
  margin: 0 auto;
  width: 50%;
  border: solid 2px #2a3355;
}
.service .contentService {
  padding-top: 45px;
}
.service .contentService h1 {
  font-family: 'proxima-nova-bold', sans-serif;
  color: #ff2c32;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.service .contentService h1 span {
  display: block;
}
.service .contentService .description {
  font-size: 22px;
}
.service .chapp {
  margin-top: 40px;
  margin-bottom: 40px;
}
.service .chapp .picture {
  background: url('../img/chapas.png') center center no-repeat;
  background-size: contain;
  padding: 94px;
}
.portifolio h1 {
  font-family: 'URWDINCond-Bold', sans-serif;
  color: #2a3355;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.portifolio .panel,
.portifolio .panel-defaul {
  padding: 0;
  border-color: transparent;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
.portifolio .panel .panel-body,
.portifolio .panel-defaul .panel-body {
  text-align: center;
  padding: 10px;
}
.portifolio .panel .panel-footer,
.portifolio .panel-defaul .panel-footer {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}
.portifolio .panel .panel-footer h1,
.portifolio .panel-defaul .panel-footer h1 {
  font-size: 20px;
}
.clients h1 {
  font-family: 'URWDINCond-Bold', sans-serif;
  color: #2a3355;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
}
.contact-us {
  background: #ffffff;
  padding: 40px 40px 12px 40px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.contact-us textarea.form-control {
  height: auto;
  border: solid 1px #ccc;
}
.location-us {
  background: #262b3e;
  padding: 60px 40px 58px 40px;
}
.location-us .box-location {
  border-bottom: 1px solid rgba(255, 255, 255, 0.58);
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
}
.location-us .box-location .content-icon {
  float: left;
}
.location-us .box-location .content-icon i {
  color: #ffffff;
  background-color: #ff2c32;
  font-size: 28px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
  text-align: center;
}
.location-us .box-location .box-right {
  padding-left: 25px;
}
.location-us .box-location .box-right .content-title {
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.location-us .box-location .box-right .content-desc {
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  margin-bottom: 25px;
  padding: 0;
}
.scrollup_fade {
  background: #ff2c32;
  opacity: 0.8;
  height: 45px;
  width: 45px;
  right: 0;
  line-height: 45px;
  border-radius: 5px 0 0 5px;
  position: fixed;
  bottom: 78px;
  display: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 99999;
  text-align: center;
}
.scrollup_fade:hover {
  opacity: 0.5;
}
.navegation-page {
  background-color: #3a3d45;
}
.navegation-page h1 {
  text-align: center;
  color: white;
  font-family: 'URWDINCond-Demi', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
}
.navegation-page h2 {
  text-align: left;
  color: white;
  font-family: 'URWDINCond-Demi', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  margin-left: 75px;
}
.navegation-page h2 span {
  display: block;
}
.contact {
  font-family: 'Playfair Display', serif;
}
.contact .marker {
  text-align: center;
  margin-bottom: 40px;
  padding: 28px;
}
.contact .marker span {
  margin-bottom: 20px;
}
.contact .marker h1 {
  font-size: 14px;
  line-height: 24px;
}
.contact-new h1 {
  font-family: 'proxima-nova-bold', sans-serif;
  color: #2a3355;
  font-size: 42px;
  padding: 0 68px;
}
.contact-new .content-desc {
  padding: 0 68px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
}
.contact-new .content-desc p {
  margin-bottom: 20px;
}
.contact-new .content-desc .phone {
  font-weight: bold;
}
.contact-new .content-desc .wpp {
  font-family: 'proxima-nova', sans-serif;
}
.contact-new .content-desc .wpp h2 {
  color: #072F57;
  font-size: 28px;
}
.contact-new .content-desc .wpp h2 span {
  display: block;
}
.contact-new .content-desc .wpp h2 span strong {
  font-family: 'proxima-nova-bold', sans-serif;
  color: #00a58b;
  font-size: 32px;
}
.contact-new .content-desc .wpp p {
  margin: 15px 0;
}
.contact-new .content-desc .wpp p img {
  height: 51px;
}
.contact-new .form-control,
.contact-new input,
.contact-new textarea {
  font-family: 'proxima-nova', sans-serif;
  box-shadow: none;
  resize: none;
  background: #fff;
  color: #555;
}
.contact-new input[placeholder],
.contact-new [placeholder],
.contact-new *[placeholder] {
  color: #000;
}
.contact-new button {
  width: 180px;
}
.CookieMessage {
  position: fixed;
  width: 100%;
  font-size: 16px;
  bottom: 0;
  background-color: white;
  z-index: 1040;
  box-shadow: 0 0 4px 0;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
  overflow-x: hidden;
  overflow-y: auto;
}
.CookieMessage .CookieMessage-content {
  color: #696969;
  padding: 9px;
  font-family: sans-serif;
}
.CookieMessage .CookieMessage-content .policy-title {
  font-family: 'URWDINCond-Regular', sans-serif;
  margin-bottom: 10px;
  padding: 8px;
  background: #f4f4f4;
}
.CookieMessage .CookieMessage-content .policy-title h2 {
  font-weight: 600;
  font-size: 18px;
}
.CookieMessage .CookieMessage-content .Cookie-flex {
  display: flex;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-description {
  line-height: 1.5;
  font-size: 14px;
  padding: 9px;
  width: 80%;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-aception ul {
  list-style: none;
  display: flex;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-aception ul li {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #2a3355;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-aception ul li:hover {
  color: #ff2c32;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-aception ul li a {
  font-weight: bold;
  color: #2a3355;
  font-size: 16px;
}
.CookieMessage .CookieMessage-content .Cookie-flex .Cookie-aception ul li a:hover {
  color: #ff2c32;
}
.modal {
  position: fixed;
  z-index: 1042;
}
.modal .modal-content {
  margin: 0 auto;
  border-radius: 0;
  background: #337ab7;
  color: white;
  width: 60%;
  font-family: 'Roboto-Regular', sans-serif;
}
.modal .modal-content .modal-header {
  text-align: center;
  padding: 4px;
}
.modal .modal-content .modal-header h4 {
  padding: 8px;
  font-family: 'swis721_ltcn_btlight', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
}
.modal .modal-content .modal-body .btn {
  border-radius: 50px;
  font-size: 12px;
}
.modal .modal-content .modal-body ul {
  display: flex;
}
.modal .modal-content .modal-body ul li {
  margin: 0 4px;
}
.modal .modal-content .modal-body ul li a {
  font-family: 'Roboto-Regular', sans-serif;
}
.modal .modal-content .modal-body .table-bordered {
  border: 0 solid #ddd;
}
.modal .modal-content .modal-body .table-bordered > tbody > tr > td {
  border: 0 solid #ddd;
}
.modal .modal-content .modal-body td {
  vertical-align: middle;
  padding: 4px;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  width: 50%;
}
.modal .modal-content .modal-body td:nth-child(2) {
  text-align: center;
}
.modal .modal-content .modal-body .label {
  font-size: 12px;
}
.modal .modal-content .modal-body .custom-control-input {
  display: none;
}
.modal .modal-content .modal-body .custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer;
}
.modal .modal-content .modal-body .custom-checkbox .custom-control-indicator {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;
  background-color: #c1c1c1;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
  box-shadow: none;
}
.modal .modal-content .modal-body .custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.modal .modal-content .modal-body .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #3c763d;
  background-image: none;
  box-shadow: none !important;
}
.modal .modal-content .modal-body .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #04c508;
  left: 15px;
}
.modal .modal-content .modal-body .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none !important;
}
footer {
  font-family: 'proxima-nova', sans-serif;
}
footer .logo-white {
  padding-bottom: 30px;
}
footer .menu-footer {
  text-align: left;
  padding-left: 40px;
  border-left: solid #fff 2px;
  margin-left: 10px;
}
footer .menu-footer a {
  font-family: 'URWDINCond-Regular', sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
}
footer .menu-footer a:hover {
  color: #ff2c32;
}
footer .address {
  text-align: left;
  padding-left: 40px;
  border-left: solid #fff 2px;
}
footer .address li {
  font-size: 15px;
  color: white;
  line-height: 24px;
  font-family: 'proxima-nova', sans-serif;
}
footer .socialMdedia {
  text-align: left;
  padding-left: 40px;
  border-left: solid #fff 2px;
}
footer .socialMdedia h2 {
  color: white;
  font-family: 'URWDINCond-Demi', sans-serif;
  margin-bottom: 20px;
}
footer .socialMdedia h2 span {
  display: block;
}
footer .socialMdedia h3 {
  color: white;
  font-family: 'proxima-nova', sans-serif;
  font-size: 13px;
  margin: 10px 0;
}
footer .socialMdedia li {
  display: inline-block;
}
footer .socialMdedia li a .fa-inverse {
  color: #2a3355;
}
footer .socialMdedia li a .fa-inverse:hover {
  color: #ff2c32;
}
.Privacy-Policy {
  background: #4A4C51;
  padding: 20px 0;
}
.Privacy-Policy ul {
  list-style: none;
}
.Privacy-Policy ul li {
  display: inline-flex;
  padding: 0 25px;
}
.Privacy-Policy ul li i {
  padding-right: 8px;
  color: white;
}
.Privacy-Policy ul li a {
  font-family: 'URWDINCond-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: white;
}
.Privacy-Policy ul li a:hover {
  color: #ff2c32;
}
.Privacy-Policy ul li span {
  font-size: 18px;
  color: white;
  font-family: 'URWDINCond-Bold', sans-serif;
}
.copyright {
  background-color: #ffffff;
  padding: 20px 0;
  border-top: solid 0 #cdcdcd;
  font-family: 'swis721_ltcn_btlight', sans-serif;
}
.copyright h1 {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}
.copyright h1 a {
  color: #333333;
}
.copyright h1 i {
  color: #333333;
}
.copyright p {
  font-size: 15px;
  margin: 0 0 0;
}
.copyright p a {
  font-family: 'swis721_ltcn_btlight', sans-serif;
  color: #2a3355;
  font-weight: 600;
}
.copyright p a:hover {
  color: #ff2c32;
}
.form-control,
input,
textarea {
  font-family: 'proxima-nova', sans-serif;
  box-shadow: none;
  resize: none;
  background: #edeef0;
  color: #555;
}
input[placeholder],
[placeholder],
*[placeholder] {
  color: #000;
}
@media only screen and (max-width: 767px) {
  .navbar-default,
  .navbar {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .fa {
    font-size: 25px;
    color: white;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    margin: 0;
    color: black;
  }
  .navbar-default .nav > li > a,
  .navbar .nav > li > a {
    padding: 10px;
    line-height: 10px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    margin: 0;
    color: white;
  }
  .navbar-collapse {
    position: absolute;
    top: 83px;
    background: #ff2c32;
    width: 100%;
    z-index: 9999;
  }
  .fill {
    height: 320px;
  }
  .content {
    top: 164px;
  }
  .sobre {
    padding: 0 15px;
  }
  .sobre .col-md-6 {
    padding: 20px 0;
    border-bottom: solid #dddddd 1px;
  }
  .sobre .col-md-6:last-child {
    border-bottom: solid #dddddd 0;
  }
}
@media only screen and (max-width: 425px) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    background: #f9eac0;
    max-height: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav > li > a,
  .navbar .navbar-nav > li > a {
    margin-top: 10px;
  }
  .navbar-brand > img {
    display: block;
    height: 42px;
    margin-left: 10px;
  }
  .sale-enterprise .flex {
    display: block;
  }
  .sale-enterprise .flex .siderL {
    width: 100%;
  }
  .header-developements .call-fixed {
    display: none;
  }
  .navbar-nav .open .dropdown-menu {
    background: white;
  }
  .navbar-nav .open .dropdown-menu li {
    border-bottom: solid #f4f4f4 1px;
    padding: 8px 0;
  }
  .navegation-page {
    padding: 156px 0!important;
  }
  .navegation-page h1 {
    font-size: 28px;
    margin: 0;
  }
  .navegation-page h2 {
    font-size: 28px;
    margin: 0;
  }
  .about-us .picture {
    position: relative;
    right: 0;
  }
  .newContact .whatsapp {
    text-align: center;
    padding-top: 40px;
  }
  .newContact .pd-line-100 {
    padding: 0;
  }
  .about-us .vision {
    padding-right: 0;
  }
  .about-us .vision p {
    text-align: left;
  }
  .about-us .mission {
    padding-right: 0;
  }
  .center-contact .side-left {
    min-height: auto;
  }
  .center-contact .side-rightClient {
    min-height: 192px;
    width: 100%;
  }
  .service p {
    padding: 0;
  }
  .enterprise .title h1 span {
    font-size: 28px;
  }
  .about .min-title {
    padding: 0;
    display: flex;
    align-items: normal;
    height: 52px;
    justify-content: end;
  }
  iframe {
    width: 100%!important;
  }
  .call-about p {
    padding: 15px;
  }
  .address {
    padding: 0;
  }
  .intro p {
    padding: 40px 10px;
  }
  .service-In .servico {
    padding: 0 10px;
  }
  .service-In .servico .items li {
    display: block;
    padding: 4px 0;
    font-family: 'proxima-nova', sans-serif;
    border-bottom: solid white 1px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .qualy .description {
    color: #2a3355;
    padding: 0;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
  }
  .center-contact {
    display: block;
  }
  .center-contact .side-left {
    width: 100%;
    height: auto;
    background: #ff2c32;
  }
  .center-contact .side-right {
    width: 100%;
    background: url(../img/contact-home.jpg) 0 center no-repeat;
    background-size: cover;
    padding: 120px;
  }
  .center-contact .side-left .content {
    padding: 20px;
  }
  .client .description {
    padding: 20px 0;
    font-size: 20px;
    font-family: 'proxima-nova-regular', sans-serif;
    color: #1d1d1d;
  }
  .minContact .minBoxLeft {
    padding-left: 0;
  }
  .minContact .content {
    padding-top: 17px;
    padding-right: 0;
    font-family: 'proxima-nova-regular', sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0.3px;
  }
  .minContact .minBoxRight {
    padding-right: 0;
  }
  .minContact h3 {
    margin-top: 22px;
    color: white;
    font-family: 'proxima-nova-regular', sans-serif;
    font-size: 22px;
    text-align: center;
  }
  .contact-new h1 {
    padding: 0 0 35px 0;
    font-size: 28px;
  }
  .contact-new .content-desc {
    padding: 0;
    margin: 45px 0;
  }
  .Cookie-flex {
    display: block!important;
  }
  .CookieMessage .CookieMessage-content .Cookie-flex .Cookie-description {
    width: 100%;
  }
  .modal .modal-content {
    width: 100%;
  }
  footer .menu-footer {
    text-align: left;
    padding-left: 40px;
    border-left: solid #fff 2px;
    margin-left: 0;
  }
  footer .bottom {
    display: block;
    padding: 4px 0;
  }
  footer h2 {
    font-size: 9px;
  }
  footer .bottom h3 {
    margin-bottom: 10px;
  }
  footer .bottom h3 span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .mini ul li {
    height: 92px;
    width: 92px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  footer h1 {
    font-size: 11px;
  }
  footer h2 {
    font-size: 6px;
  }
  footer .bottom h3 span {
    font-size: 6px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
